{% extends 'admin_panel/shared/_admin_layout.html' %}

{% block title %}
    پنل ویرایش اطلاعات کاربری
{% endblock %}
{% block content %}
    <form role="form" method="post" class="contact-form row" action="{% url 'article-edit-page' pk=article.id %}"
          enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.title.errors }}

    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.title.errors }}

    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.title.errors }}

    {{ form.title.label_tag }}
    {{ form.title }}
    {{ form.title.errors }}
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary btn-lg">ارسال</button>

    </div>
{% endblock %}



